doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='build/javascripts/index.js')
    script(src='build/javascripts/jquery.min.js')
  body
    block content
